<select class="mpcth-wpml-vanila-currency-switcher">
    {% for currency in currencies %}
        <option value="{{ currency }}"{% if( currency == selected_currency) %} selected="selected"{% endif %}>
            {{ get_formatted_price( currency, format )|raw }}
        </option>
    {% endfor %}
</select>